<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="awsaccesskey" value="AKIAIFJHQKTDCEQTIKJQ" />
		<add key="sqs.serviceurl" value="http://sqs.us-west-1.amazonaws.com" />
		<add key="sqs.baseurl" value="https://us-west-1.queue.amazonaws.com/948403467844/"/>
		<add key="ses.serviceurl" value="http://email.us-east-1.amazonaws.com"/>
		<add key="sdb.serviceurl" value="http://sdb.us-west-1.amazonaws.com" />

	</appSettings>
</configuration>